html, body {
    font-size: initial;
}

.securesend {
    &_backdrop {
        backdrop-filter: brightness(50%) blur(5px);
        height: 100%;
        width: 100%;
    }

    &_frame_body {
        margin: 0;
    }
}