.securesend {
    &_ui_container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        z-index: 999;
    }

    &_backdrop {
        backdrop-filter: brightness(50%) blur(5px);
        height: 100%;
        width: 100%;
    }

    &_frame_body {
        margin: 0;
    }
}