#securesend {
    &_ui_container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        z-index: 999;
    }

    &_backdrop {
        backdrop-filter: brightness(50%) blur(5px);
        height: 100%;
        width: 100%;
    }

    &_dialog {
        width: 100%;
        height: 100%;

        background-color: white;
        border-radius: 8px;
        border: none;
        overflow: hidden;

        animation: 0.1s ease 0s 1 zoomIn;
        transition: transform 0.1s ease, opacity 0.1s ease;
    }

    &_dialog_container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 600px;
        height: 500px;
    }

    &_frame_body {
        margin: 0;
    }
}

.securesend_dialog_closed {
    transform: scale(0.8);
    opacity: 0.55;
}