div.securesend_coordinate {
    &_method_input {
        width: 10rem;
    }

    &_address_input {
        width: 10rem;
    }
}


.securesend_coordinate {
    &_button {
        float: right;
        margin-right: $margin-large !important;
    }

    &_delete_row {
        font-size: 36px;
        cursor: pointer;
    }
}