.securesend {
    &_dialog {
        width: 100%;
        height: 100%;

        background-color: white;
        border-radius: 8px;
        border: none;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        animation: 0.1s ease 0s 1 zoomIn;
        transition: transform 0.1s ease, opacity 0.1s ease;

        &_closed {
            transform: scale(0.8);
            opacity: 0.55;
        }
    }

    &_dialog_container {
        position: fixed;
        top: calc(50%);
        left: calc(50%);
        transform: translate(-50%, -50%);
        z-index: 999;

        @import "../../dist/mdl/material";

        width: $dialog-width;
        height: $dialog-height;
    }

    &_dialog_body {
        position: relative;
        height: calc(#{$dialog-height} - #{$header-height});
        box-sizing: border-box;
        padding: $margin-large;
        overflow-y: scroll;
    }
}