.securesend_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $header-height;

    background-color: $color-header;
    color: white;

    &_label {
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        font-weight: 500;
        padding-left: $margin;
    }
}

.securesend_close {
    padding-right: $margin;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}