.securesend_password {

    &_generate {
        margin-bottom: $margin;
    }

    &_done_button {
        position: absolute !important;
        right: $margin-large;
        bottom: $margin-large;
    }
}