.securesend_permissions {
    &_container {
        /*
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 0 $margin;
        */

        & > label > span {
            margin-left: $margin;
        }
    }

    &_button_container {
        margin-bottom: $margin;
    }

    &_title {
        margin-top: 1rem;
    }

    &_bottom {
        width: 100%;
        position: absolute;
        bottom: $margin-large;
        right: 0;
    }

    &_button {
        float: right;
        margin-right: $margin-large !important;
    }
}