.securesend_security {
    &_single_toggle {
        margin-bottom: 1.5rem;
    }

    &_table {
        width: 100%;
        margin-bottom: 2rem;

        & > tbody > tr > td {
            padding: 0 0.5rem;
        }
    }

    &_show_container {
        text-align: center;
    }

    &_next_button {
        float: right;
        margin-right: $margin-large !important;
    }
}

.securesend_security_password_container.securesend_security_password_container.securesend_security_password_container {
    width: 100%;
}

button.securesend_security_action_button {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

li.securesend_security_permissions_item {
    line-height: initial;
    display: flex;
    align-items: center;
}